<div class="container">
  <div class="main">
    <h1>Atendimento personalizado </h1>
    <h3><a href="">Algumas clientes</a></h3>
    <p>
      Para e Eventos (Maquiagem Social ou Artística) principalmente noiva necessário o teste da maquiagem.
      Momento importante para testar os produtos na pele e adequar tudo ao seu gosto.
      <br><br>
      Eu também faço relatório com todas as informações coletadas no teste.
      Importante realizarmos o agendamento para o teste da maquiagem, preferencialmente no meu Studio.
      Irei utilizar técnicas de colorimetria e visagismo para realçar sua Beleza natural.
      <br><br>
      O objetivo é deixar voce feliz porque é o seu momento.
      No dia do teste irei realizar uma análise personalizado onde vamos conversar sobre seus gostos e preferências de
      maquiagem.
      <br>
      Qual será o evento, qual será o look usado entre outras coisas. Então vou te passar algumas referências de
      maquiagem, após sua escolha.
      <br>
      Então iremos iniciar a maquiagem e durante o processo sinta-se a vontade para ir falando o que gosta e vamos
      ajustar segundo seu gosto.
      <br>
      Em todas as maquiagens utilizo o protocolo para pele resistente, para maior durabilidade resistente a água e ao
      suor com produtos nacionais.
    </p>
  </div>
</div>
