@import "src/assets/styles/variables.scss";

h1 {
  font-family: $title;
  font-size: clamp(3.5em, 2em + 6vw, 6em);
  text-align: center;
  font-weight: normal;
}
h4 {
  font-family: $subtitle;
  font-size: clamp(1.25em, .5em + 3vw, 2em);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1em;
  transform: scaleX(1.1);
  word-spacing: 5px;
}
.presentation {
  padding: 18px;
}
@media only screen and (min-width: 600px) {
  .container {
    display: flex;
    justify-content: center;
    .main {
      border: 1px solid red;
      height: 300px;
      width: 80%;
      max-width: 980px;
    }
  }

}
