@import "src/assets/styles/breakpoints.scss";
@import "src/assets/styles/variables.scss";

footer {
  flex-shrink: 0;
  background-color: $color1;
  bottom: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section {
  display: flex;
  justify-content: space-around;
}
img {
  height: 40px;
  width: 40px;
  margin: 9px;
}
p {
  font-size: clamp(.5em, 1em + 1.25vw, 2em);
  color: $color5;
  margin-top: 10px;
}
