<!-- <app-menu></app-menu> -->
<!-- <p class="phone-up">Phone u sp</p>
<p class="phone-only">Phone only</p>
<p class="tablet-portait-only">Tablet portrait only</p>
<p class="tablet-portrait-up">Tablet portrait up</p>
<p class="tablet-landscape-only">Tablet landscape only</p>
<p class="tablet-landscape-up">Tablet landscape up</p>
<p class="desktop-only">Desktop only</p>
<p class="desktop-up">Desktop up</p>
<p class="big-desktop-up">Big desktop up</p> -->

<div class="phone-only">
  <div>
   <app-menu></app-menu>
  </div>
</div>
<router-outlet></router-outlet>
