<div class="container">
  <div class="main">
    <div class="container">
      <h1>Hello my queen!! Me envie uma mensagem ;) </h1>
      <form target="_self" action="https://formsubmit.co/ismenemaiki@gmail.com" method="POST">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_next" value="http://localhost:4200/contatos">
        <div class="form-group">
          <div class="form-row">
            <div class="col">
              <input type="text" name="name" class="form-control" placeholder="Seu nome" required>
            </div>
            <div class="col">
              <input type="email" name="email" class="form-control" placeholder="Seu email" required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea placeholder="Digita aqui sua mensagem ;)" class="form-control" name="message" rows="10" required></textarea>
        </div>
        <button type="submit" class="btn btn-lg btn-dark btn-block">Enviar mensagem</button>
      </form>
    </div>
  </div>
</div>
