<div class="container">
  <div class="main">
    <h1>Quem sou eu?</h1>
    <p>
    Hello my Queen Meu nome é Laura Gomes,<br>
    paulistana, atualmente moro na zona sul de São<br>
    Paulo.<br>
<br>
    Sou maquiadora profissional a quase 3 anos,<br>
    realizando a maquiagem personalizada para<br>
    realçar a beleza de acordo com cada perfil de<br>
    cliente, tanto em atendimento ou ministrando<br>
    cursos de auto maquiagem.<br>
<br>
    Na maquiagem meu foco são as técnicas, até<br>
    porque também sou formada em Designer pela<br>
    ETEC, onde aprendi que podemos ter<br>
    resultados excelentes com materiais diferentes.<br>
<br>
    Dentro do nicho da maquiagem trabalho como<br>
    digital influencer, dando dicas e inspirações.<br>
    Em paralelo também atuo como desenvolvedora<br>
    de software
   </p>
  </div>
</div>
